
<div class="text-center">

  <form [formGroup]="userForm">  
    <div>
    <input type="text" id="inputFirstname" name="inputFirstname" formControlName="inputFirstname" placeholder="Enter you name"><br>
    <span *ngIf="!userForm.get('inputFirstname').valid" id="errorFirstName" style="margin-left: 30px;">Please enter a valid user name</span>
    </div>
    <div class="gender">
      <label for="gender" >Gender:</label>
    <input type="radio" id="gender" name="gender" value="male" formControlName="gender">
    <label for="gender">Male</label>
    <input type="radio" id="gender" name="gender" value="female" formControlName="gender">
    <label for="gender">Female</label>
    <input type="radio" id="gender" name="gender" value="other" formControlName="gender">
    <label for="gender">Other</label><br>
    <span *ngIf="!userForm.get('gender').valid" id="errorGender">Please select your gender</span>
    </div>
  
   <div class="country">
  
    <label for="country">Country: </label>
    <select #couns id="country" name="country" formControlName="country">
    <option value="US">United States</option>
    <option value="AS">Afghanistan</option>
    <option value="CA">Canada</option>
    <option value="AN">Andorra</option>  
    <option value="IN">India</option>   
  </select><br>
  <span *ngIf="!userForm.get('country').valid" id="errorCountry">Please select the country</span>
   </div>
   <div>
    <input type="text" id="city" name="city" formControlName="city" placeholder="Enter your city"><br>
    <span *ngIf="!userForm.get('city').valid" id="errorCity" style="margin-left: 30px;">Please enter the city</span>
   </div>
  
  
   <div>
    <input #age type="text" id="inputAge" name="inputAge" formControlName="inputAge" placeholder="Enter your age"><br>
    <span id="errorAge" *ngIf="checkAgeValid(couns.value,age.value)" style="margin-left: 30px;">Please enter a valid age</span>
   </div>
  
    <input type="submit" value="Submit" id="submit" >
  </form>
  </div>